[submodule "project3/catkin_ws/src/teleop_twist_keyboard"]
	path = project3/catkin_ws/src/teleop_twist_keyboard
	url = https://github.com/ros-teleop/teleop_twist_keyboard
[submodule "project5/catkin/src/slam_gmapping"]
	path = project5/catkin/src/slam_gmapping
	url = https://github.com/ros-perception/slam_gmapping.git
[submodule "project5/catkin/src/turtlebot"]
	path = project5/catkin/src/turtlebot
	url = https://github.com/turtlebot/turtlebot.git
[submodule "project5/catkin/src/turtlebot_interactions"]
	path = project5/catkin/src/turtlebot_interactions
	url = https://github.com/turtlebot/turtlebot_interactions.git
[submodule "project5/catkin/src/turtlebot_simulator"]
	path = project5/catkin/src/turtlebot_simulator
	url = https://github.com/turtlebot/turtlebot_simulator.git
